*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}



.row{   
    display: flex;
    background-color: #e7eeea;  
}
ul{
    padding: 30px 20px
}
img{
    padding: 20px 0px 0px 20px;
}

p{
    line-height: 1.3;
    font-size: 14px;
    color : #37523d;
    padding-bottom: 27px;
}

h2{
    color: #37523d;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 22px;;
}

.row2{
    display: flex;
    background-color: #e7eeea;
    margin-top: 30px;
    
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont{
    text-align: center;
}

.row3{
    background-color: #e7eeea;
    margin-top: 30px;
}

.box2{
  display: flex;
}

.box3{
    display: flex;
    flex-direction: row-reverse;
}
